<!-- <head>
    <title>Text Cleansing</title>
</head>
<body>
    <form action="#" method="post">
        <p>Kalimat yang ingin di bersihan: </p><p><input type="text" name=original_tweet /></p>
        <p><input type="Submit" value="Process" /></p>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Input Form</title>
</head>
<body>
  <form action="#" method="post">
    <label for="inputText">Masukkan Menu:</label>
    <p>1 -> Input Text</p>
    <p>2 -> Input File</p>
    <p>3 -> Read Database</p>
    <input type="text" name="inputText">
    <button type="submit">Submit</button>
  </form>
</body>
</html>
